@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
header {
  background: #efefef;
  padding: 0 60px;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav > ul {
  display: flex;
  align-items: center;
}
header > nav > ul li {
  list-style: none;
  margin: 0 20px;
}
header > nav > ul li a {
  text-decoration: none;
  font-size: 23px;
}
header > nav > ul li a:hover {
  background: #ddd;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
}
.banner img {
  width: 300px;
}
.banner-left {
  width: 400px;
}
.banner-section {
  background-color: #e554731a;
}
.btn-show {
  background-color: #e55473;
  border-radius: 8px;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* our featured flowers */

.our-featured-flowers {
  width: 1000px;
  margin: auto;
  margin-top: 100px;
}
.header-section {
  width: 500px;
  margin: auto;
}
.header-section h1,
p {
  text-align: center;
}
.our-featured-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.featured-images {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 250px;
  padding: 20px;
}
.featured-images img {
  width: 250px;
  height: 40vh;
}
.pink-flower-tree {
  text-align: center;
  margin-top: 20px;
}

/* service section */
.service-section {
  width: 1000px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
  margin-top: 100px;
}
.servicess {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.service h6 {
  margin: 0;
}

/* hot deal */
.hot-deal {
  width: 100%;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.hot-dealss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
  padding: 20px 0;
}
.hot-deals {
  width: 400px;
  text-align: center;
}
.hot-dealss img {
  width: 250px;
}

.hot-deals button {
  border-radius: 8px;
  background: #e55473;
  color: white;
  border: none;
  padding: 20px 43px;
  text-align: center;
}
.hot-deal {
  margin-top: 80px;
}
/* instagram section */
.instagram {
  width: 1000px;
  margin: 0 auto;
}
.instagram-header h1,
h5 {
  width: 400px;
  text-align: center;
  margin: auto;
}
.instagram-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10;
}
.instagram-image img {
  width: 230px;
}
.instagram-header {
  padding: 50px 0;
}
/* letest deal */
.my-section {
  background-image: url("../image/Rectangle\ 9.png");
  width: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin: 0 auto;
  margin-top: 80px;
}
.images-section {
  width: 500px;
  margin: 0 auto;
}
.images-section h1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 50px;
  margin: 0;
}
.images-section h4 {
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.my-img {
  width: 350px;
  margin: auto;
}
.my-img input {
  padding: 10px;
  font-size: 15px;
}
.btn-subscribe {
  border-radius: 8px;
  background: #e55473;
  padding: 10px;
  font-size: 16px;
  color: white;
  border: none;
}
/* footer */
footer {
  width: 100%;
  background: #111010;
  margin-top: 80px;
}
.footer-section {
  width: 700px;
  margin: auto;
  padding: 80px 0;
}
.footer-section h3 {
  text-align: center;
  font-size: 48px;
  color: white;
  margin: 0;
}
.footer-section h4 {
  /* text-align: center;
  color: white; */
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.footer-section small {
  text-align: center;
  color: white;
}
.flower-show {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
.footer-paragparh {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 13px;
}
